* {
    box-sizing: border-box;
    background-color: #83b0c4;
}

.container {}

.heading {
    font-size: 2rem;
    font-family: 'GFS Neohellenic', Palatino, sans-serif;
    clear: both;

}